@{
    ViewData["Title"] = "Home Page";
}


<div id="app">
    <tablecomponent></tablecomponent>
</div>

@section Scripts {
    <script src="~/scripts/mainComponent.js" asp-append-version="true"></script>
}